# SPDX-FileCopyrightText: 2023 Gabriele Pongelli
#
# SPDX-License-Identifier: MIT

[submodule "pycode128/lib"]
	path = libs/code128
	url = https://github.com/gpongelli/code128
	branch = error_commit_for_test
